@import "../../styles/colors";
@import "../../styles/font-sizes";
@import "../../styles/paddings";
@import "../../styles/shadows";

.paw_wrapper {
  display: flex;
  flex-direction: column;
}

.paw_top-bar {
  display: flex;
  align-items: center;
  padding: $padding-medium;
  background-color: white;
  box-shadow: $shadow-1;
}

.paw_top-bar_header {
  color: $color-brand;
  font-size: $font-size-heading-x-large;
  margin: 0;
}

.paw_top-bar_button {
  margin: 0 .75rem 0 auto;
}

.paw_content {
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
}

.paw_card {
  width: 46%;
}

.paw_card-content {
  padding: $padding-xx-small;
}
