@import "../../styles/paddings";
@import "../../styles/shadows";

.paw_adpotion-centers_modal_content {
  padding: $padding-medium;
}

.paw_adpotion-centers_modal_content--loading {
  position: relative;
  height: 72px;
}

.paw_adpotion-centers_modal_content_actions {
  display: flex;
  justify-content: flex-end;
}

.paw_adpotion-centers_modal_content_input {
  margin-bottom: 1rem;
}

.paw_adoption-center_card {
  display: flex;
  align-items: stretch;
  height: 4rem;
  box-shadow: $shadow-1;
  padding: 0.25rem 0.25rem 0.25rem 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

.paw_adoption-center_card_id {
  font-size: 3rem;
  color: $color-dark-1;
  margin-right: 1rem;
}

.paw_adoption-center_card_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.paw_adoption-center_card_content_header {
  color: $color-brand;
  font-size: 1rem;
}

.paw_adoption-center_card_content_description {
  display: flex;
  align-items: center;
}

.paw_adoption-center_card_content_field {
  color: $color-gray-4;
  font-size: 0.75rem;
  margin-right: 0.5rem;
}

.paw_adoption-center_card_content_action {
  align-self: center;
}
